body {
    background-color: var(--code-bg);
}

.thumbnail-container img {
    margin: 0;
}

body.dark div.logo img {
    filter: brightness(0) invert(1);
}

/* Styling für den CTA */
.cta {
    text-align: center;
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
}

.cta .btn, button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--theme);
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px/2);
}



/* Styling für das Kontaktformular */
form {
    margin: 0 auto;
    padding: 20px;
    background: var(--entry);
    border-radius: var(--radius);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}