@charset 'utf-8';

$base-font-family: 'Encode Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$secondary-color:  #1678d3;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$green1: #458077;
$green2: #22403B;
$green3: #65BFB2;
$green4: #73C4BA;
$green5: #58A79A;

$highlight-color-dark:	$green2;
$highlight-color:	#65BFB2;

$on-palm:          730px;
$on-laptop:        800px;

.green-color {
	color: $highlight-color;
}

.darkgreen-color {
	color: $highlight-color-dark;
}

body {
	font-family: $base-font-family;
}

.bg-darkgreen {
	background-color: $highlight-color-dark !important;
}

.navbar-brand {
	padding: 0;
}

.container {
  padding: 0 15px;
}

.footer {
  background-color: $highlight-color;
  color: #fff;
}

a.nav-link {
font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
	color: #eee;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: $highlight-color;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
	color: $highlight-color;
}

.social-icons {
	font-size: 1.6rem;
}

.shape-bottom {
	color: $highlight-color;
	position: absolute;
	bottom: -1px;
}

.mail-text-mute {
	display: none;
}
